<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK APP</title>
</head>
<body>
  <form action="pages/searches/new.ejs" method ="POST">
    <fieldset>
      <legend>Book Recommendations?</legend>
      <input name="Author" type="text">
      <input name="Title" type="text">
      <input type="Search">
    </fieldset>
  </form>
 
  <!-- <h1>Book App</h1>
  <p><%= book %></p>
  <p><%= reading %></p> -->
  
</body>
</html>