<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK APP</title>
</head>
<body>
  <form action="pages/searches/new.ejs">
    <fieldset>
      <legend>Book?</legend>
      <input type="text">
      <input type="text">
    </fieldset>
  </form>
 
  <!-- <h1>Book App</h1>
  <p><%= book %></p>
  <p><%= reading %></p> -->
  
</body>
</html>